<%= stylesheet_link_tag 'profiles.css' %>



<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
        <img align="left" class="fb-image-profile thumbnail" src="http://lorempixel.com/180/180/people/9/" alt="Profile image example"/>
        <div class="fb-profile-text">
            <h1>FirstName: <%= current_user.first_name %></h1>
        </div>
    </div>

    <div class="buttons">
        <div class="btn-group">
            <% if @cards.present? %>
                <% @cards.each do |card| %>
                    <div class="container">
                        <%= link_to '', card.twitter, class: "fab fa-twitter" %>
                    </div>
                    <div class="container">
                        <%= link_to '', card.imdb, class: "fab fa-imdb btn-warning" %>
                    </div>
                <% end %>
                <% else %>
                    <div class="col-sm-6 text-right">
                        <%= link_to new_business_card_path, class: 'btn btn-primary btn-lg' do %>
                            Add New Business card
                        <% end %>
                    </div>
            <% end %>
        </div>
    </div>
        <% @cards.each do |card| %>
            <% if card.user_id == current_user.id -%>
                <div class="container">
                    <%= link_to 'Edit Social', edit_business_card_path(card.id), class: "fas fa-edit" %>
                </div>
                <div class="container">
                <%= link_to 'Social Delete', business_card_path(card), class: "fas fa-trash" %>
                </div>
            <% end %>
        <% end %>
</div>

