<%= form_for([@post, @comment]) do |f| %>
  <p>
    <%= f.text_field :post_id %>
    <%= f.text_field :user_id %>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>