<div class="page-header">
  <%= link_to comments_path, class: 'btn btn-default' do %>
    All Comments
  <% end %>

  <h1>Show comment</h1>
</div>
  <%= @comments.each do |item| %>
    <dl class="dl-horizontal">
      <dt>User:</dt>
      <dd><%= item.user_id %></dd>

      <dt>Post:</dt>
      <dd><%= item.post_id %></dd>

      <dt>Content:</dt>
      <dd><%= item.content %></dd>

    </dl>
  <% end %>
