<%= stylesheet_link_tag 'green_room.css' %>


<h1>GreenRoom</h1>
<p>Welcome to the green Room to share social links go to your profile and add them</p>

<div class="container">

    <% if @cards.present? %>
        <% @cards.each do |card| %>
            <div class="row">
                <div class="col-lg-3 col-sm-6">

                    <div class="card hovercard">
                        <div class="cardheader">
                        </div>
                        <div class="avatar">
                            <img alt="" src="http://lorempixel.com/100/100/people/9/">
                        </div>
                        <div class="info">
                            <small>Submitted by <%= card.user.first_name%></small>
                        </div>
                        <div class="bottom">
                            <div class="btn-group">
                                <%= link_to '', card.twitter, class: "fab fa-twitter" %>
                                <%= link_to '', card.imdb, class: "fab fa-imdb btn-warning" %>
                            </div>
                            <% if card.user_id == current_user.id %>
                                <div class="btn-group">
                                    <%= link_to '', edit_business_card_path(card.id), class: "fas fa-edit" %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>





