<div class="row">
  <div class="col-sm-6">
    <h1>Cards</h1>
  </div>
    <div class="col-sm-6 text-right">
    <%= link_to new_card_path, class: 'btn btn-primary' do %>
      Add New Card
    <% end %>
    </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Title</th>
            <th>Url</th>

            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @cards.each do |card| %>
        <%= content_tag :tr, id: dom_id(card), class: dom_class(card) do %>
          

                      <td><%= card.title %></td>
                      <td><%= card.url %></td>

          
          
            <td><%= link_to 'Show', card %></td>          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
